<div class="showcase">
  <!--<div class="example-container">-->
    <!--<h2>Defaults Example</h2>-->
    <!--<ngx-gauge [value]="40"></ngx-gauge>-->
  <!--</div>-->
  <div class="example-container">
    <h2>Preserve Threshold Example</h2>
      <ngx-gauge [value]="thresholdValue"
          [thresholds]="thresholds"
          [preserveThresholds]="true"
          [animate]="true"
          [thick]="'10'"></ngx-gauge>
      <div class="gauge-controls">
        <input type="number" #gaugeInput (keyup.enter)="changeValue(gaugeInput.value)">
        <button class="btn btn-lg" (click)="changeValue(gaugeInput.value)">Update Value</button>
      </div>
  </div>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<ngx-gauge [value]="currentValue" [label]="'Label'"></ngx-gauge>
<button (click)="changeValue()">change</button>
<input type="checkbox" #checkbox>
<router-outlet></router-outlet>
